@charset "utf-8";
/* .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
html,body,div,span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video */
{
/*
매우 작은 기기 [모바일폰] ( <768px ) xs
작은 기기 [테블릿] ( >=768px ) sm
중간 기기 [데스크탑] ( >=992px ) md
큰 기기 [데스크탑] ( >=1200px ) lg
*/
margin:0; /* 바깥 여백 제거 */
padding:0; /* 안쪽 여백 제거 */
border:0; /* 테두리 제거 */
box-sizing: border-box; /* 콘텐츠가 아닌 테두리를 기준으로 크기를 지정 */
font-size:14px; /* 기본 폰트 사이즈 */
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,Dotum,'돋움',Helvetica,"Apple SD Gothic Neo"; /* 기본 폰트 */
vertical-align: baseline;
}
.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{

}
body {line-height: 1;} /* 줄 간격 */
ol, ul {list-style: none;} /* 리스트 스타일 제거*/
blockquote, q {quotes: none;} 
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
/* table {border-collapse: collapse;border-spacing: 0;} */ /* 표의 테두리와 셀 테두리 간격 제거 (한줄로) */



/* 초기화용 코드  */




.clearfix {float: none;clear: both;}

.testbg1,.testbg2,.testbg3{min-height:30px;}
.testbg1{background-color: aqua;}
.testbg2{background-color: bisque;}
.testbg3{background-color: dodgerblue;}

.wrap {
    max-width: 900px;
    min-width: 830px;
    width: 100%;
    padding: 2px;
    margin: 0 auto;
}

.wrap_cont {
    width: 100%;
}

.title_box h3{
    float: left;
    overflow: hidden;
    display: inline-block;
    font-size: 26px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.title_box .steps .on {
    color: #ff005a;
}

.title_box .steps li {
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: -0.5px;
}

li b {
    font-size: 24px;
    font-weight: 600;
    margin: 0 3px;
}

.fright{float: right;}
.fleft{float: left;}
.inlined{
    display: inline-block;
}
.title_box .steps img {
    width: 8px;
    margin-top: 6px;
    height: inherit;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
    border: 0;
    box-sizing: border-box;
    float: left;
}

.class_title {
    margin: 30px 0;
    color: #333;
    font-size: 20px;
    line-height: 2.3;
    letter-spacing: -0.5px;
    font-weight: 600;
    height:0;
}

.title_box {
    overflow: hidden;
}

.uline {
    border-bottom: 1px solid #c9c9c9;
}

.uline.upad {
    padding-bottom: 19px;
}

.step1.left {
    width: 386px;
    border: 1px solid #ddd;
    float: left;
    padding: 29px;
    box-sizing: border-box;
    
}
.content.step1{
    padding: 8px;
}

.step1.left .pimg {
    background-image: url(payment_cat-1151519_1280.jpg);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.step1.left p {
    margin: 1em 0 3em;
    margin-top: 9px;
    margin-bottom:1px;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.43;
    position: relative;
    background-color: #f1f1f1;
    color: #111;
}
/* .step1.left p:after {
    content: '';
    display: block;
    position: absolute;
    top: -13px;
    bottom: auto;
    left: 0;
    right: 0;
    width: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 0 13px 13px;
    border-color: #f2f2f2 transparent;
} */

.step1 {
/*    display: inline-block;*/
}
.step1.right:before{
    float: none;
    clear: both;
}
.step1.right{
    float: right;
    width: 500px;
    
}

.content {
    float: none;
    clear: both;
}

.step1.right-content {
/*    border-top: 1px soldi #000;*/
/*    border: 1px solid #000;*/
/*
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
*/
}

.cell.one,.cell.val {
    padding: 15px 8px;
    font-size: 15px;
    font-weight: 500;
}
/*
.cell.val input[type=radio]{a
    margin-right: 15px;
}
*/
.cell.one{
    width: 150px;
}
.cell{
    display: inline-block;
}

.cell.title {
    width: 60%;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 5px;
}

.pmessage {

}

.conwrap {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.conwrap .conchk .con-row input[type=radio]{
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.conwrap .conchk .con-row {
    border-top: 1px solid #ddd;
    padding: 15px 0;
}
.conwrap .conchk .con-row:last-child {
    border-bottom: 1px solid #ddd;
/*    padding: 15px 0;*/
}

.conwrap .conchk .con-row label{
    font-weight: bold;
    font-size: 14px;
}

.conwrap .contitle {
    font-weight: bold;
    padding: 15px 5px;
    padding-right: 0;
}

.nextbtn-step1 {
/*    border:0;*/
/*    background-color: transparent;*/
    padding: 15px 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background-color: #888;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
/*    font-weight: bold;*/
}

.hiddendiv{
	display:none;
}
.hcdiv{
	float:none;
	clear:both;
	width:100%;
	height:30px;
}